@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --preta: #171616;
    --primeira: #1D1D1D;
    --segunda: #2E2C2B;
    --red: #DA3D35;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    background-color: var(--primeira);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: var(--primeira);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 10;
}

.logo img {
    height: 100px;
}

.menu {
    display: none;
    font-size: 30px;
    color: white;
    transition: 0.3s;
}

.menu:hover {
    cursor: pointer;
    transform: scale(1.1);
}

nav .desktop {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: gray;
}

/* Hero */

.hero {
    position: relative;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-image: url('img/hero_img.webp');
    background-size: cover;
    background-size: 100vw 150dvh;
    background-repeat: no-repeat;
    filter: blur(10px);
    opacity: 0.35;
    z-index: 1;
}

.conteudo {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.conteudo h1 {
    font-size: 5em;
    font-family: "Playfair Display", serif;
}

.conteudo p {
    color: rgb(175, 175, 175);
    font-size: 1.7em;
    letter-spacing: 3px;
}

.botoes {
    margin-top: 15px;
    padding: 10px 25px;
    font-size: 1.3em;
}

.btnagendar {
    background-color: var(--red);
    border-radius: 30px;
    transition: ease 0.25s;

}

.btnservicos {
    border: 1px solid white;
    border-radius: 30px;
    transition: ease 0.25s;
}

.btnagendar:hover {
    transform: scale(0.97);
}

.btnservicos:hover {
    transform: scale(0.97);
}

/*sobre*/

.sobre {
    background-image: linear-gradient(to top, #1D1D1D, #2E2C2B);
    color: white;
    padding: 80px 40px;
}

.sobre-content {
    display: flex;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.barbeiro img {
    max-width: 400px;
    border-radius: 40px;
    border: 2px solid rgb(201, 201, 201);
}

.texto {
    flex: 1;
    min-width: 300px;
}

.texto h1 {
    margin-bottom: 10px;
    margin-bottom: 15px;
    font-size: 3em;
    font-family: "Playfair Display", serif;
}

.linha {
    width: 120px;
    height: 3px;
    background-color: var(--red);
    margin-bottom: 30px;
}

.texto p {
    font-size: 1.1em;
    color: #ccc;
    line-height: 1.7em;
}

.qualidades {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    display: flex;
    align-items: center;
    gap: 15px;
    transition: 0.7s;
}

.item:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.item i {
    font-size: 28px;
    color: white;
    background-color: var(--red);
    padding: 13px 10px;
    border-radius: 20px;
}

.item strong {
    font-size: 1.1em;
    color: white;
}

.item p {
    margin: 0;
    color: #aaa;
}

/* 
SECTION SERVIÇOS
*/

.servicos {
    background-image: linear-gradient(to top, #2E2C2B, #1D1D1D);
    color: white;
}

.servicos-content {
    margin: auto;
    text-align: center;
}

.servicos-content h1 {
    margin-bottom: 15px;
    font-size: 3em;
    font-family: "Playfair Display", serif;
}

.linha-servicos {
    width: 120px;
    height: 3px;
    background-color: var(--red);
    margin: auto;
}

.servicos-content p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.3em;
    color: #ccc;
}

.carrosel {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: #111;
}

.carrosel-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.cortes {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('img/corte-barba.jpg');
    background-size: cover;
    background-position: center;
    opacity: 30%;
    z-index: 1;
}

.nome-servico {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-size: 25px;
    font-family: "Playfair Display", serif;
    letter-spacing: 12px;
}

.flecha-esquerda,
.flecha-direita {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.flecha-esquerda {
    left: 30px;
}

.flecha-direita {
    right: 30px;
}

.flecha-esquerda:hover,
.flecha-direita:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* 
SECTION GALERIA
*/

.galeria {
    background-image: linear-gradient(to top, #2E2C2B, #1D1D1D);
    color: white;
}

.galeria-content {
    margin: auto;
    text-align: center;
}

.galeria-content h1 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 3em;
    font-family: "Playfair Display", serif;
}

.linha-servicos {
    width: 120px;
    height: 3px;
    background-color: var(--red);
    margin: auto;
}

.galeria-content p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.3em;
    color: #ccc;
}

/*grid da galeria*/

.galeria-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
}

.galeria-grid img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.048);
    transition: transform 0.3s ease;
}

.galeria-grid img:hover {
    transform: scale(1.09);
}


/* contato*/

.contato {
    background-image: linear-gradient(to top, #1D1D1D, #2E2C2B);
    color: white;
    padding: 80px 40px;
}

.contato-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.contato-content h1 {
    font-size: 3em;
    font-family: "Playfair Display", serif;
}

.linha-contato {
    width: 120px;
    height: 3px;
    background-color: var(--red);
    margin: 15px auto 30px auto;
}

.contato-content p {
    font-size: 1.3em;
    color: #ccc;
    margin-bottom: 50px;
}

.contato-boxes {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.contato-info,
.contato-form {
    background-color: #ddd;
    color: black;
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.contato-info h2,
.contato-form h2 {
    font-size: 1.6em;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
}

.info-item {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    align-items: center;
}

.info-item i {
    font-size: 25px;
    color: white;
    background-color: var(--red);
    padding: 10px;
    border-radius: 50%;
}

.info-item strong {
    font-size: 1.2em;
    color: #1C1917;
}

.info-item p {
    font-size: 1.1em;
    margin: 0;
    color: #333;
}

.contato-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contato-form input,
.contato-form textarea {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
}

.contato-form button {
    background-color: black;
    color: white;
    border: none;
    padding: 12px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.contato-form button:hover {
    background-color: var(--red);
    transform: scale(0.95);
}

.redes {
    margin-top: 30px;
}

.redes p {
    color: #1C1917;
    font-weight: bold;
    margin-bottom: 10px;
}

.redes a {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #1C1917;
    color: white;
    border-radius: 50%;
    font-size: 1.5em;
    margin-right: 10px;
    transition: 0.3s;
}


.redes a:hover {
    color: var(--red);
    transform: scale(0.95);
}

/*localização*/

.localizacao {
    background-image: linear-gradient(to top, #2E2C2B, #1D1D1D);
    color: white;
    padding: 80px 40px;
    text-align: center;
}

.localizacao-content {
    max-width: 1000px;
    margin: 0 auto;
}

.localizacao-content h1 {
    font-size: 3em;
    font-family: "Playfair Display", serif;
    margin-bottom: 10px;
}

.linha-localizacao {
    width: 120px;
    height: 3px;
    background-color: var(--red);
    margin: 15px auto 30px auto;
}

.localizacao-content p {
    font-size: 1.2em;
    color: #ccc;
    margin-bottom: 30px;
}

.mapa {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.05);
    margin-bottom: 40px;
}

.btn-maps {
    background-color: var(--red);
    color: white;
    padding: 15px 20px;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
}

.btn-maps:hover {
    background-color: #b7322d;
}

/* footer */

.footer {
    background-color: #121212;
    color: white;
    padding: 60px 40px 30px 40px;
    text-align: left;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: space-between;
}

.footer-col {
    flex: 1;
    min-width: 250px;
}

.footer-logo {
    width: 120px;
    margin-bottom: 20px;
}

.footer-col p {
    padding-bottom: 6px;
    color: #ccc;
    line-height: 1.6;
}

.footer-col h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.linha-footer {
    width: 60px;
    height: 3px;
    background-color: var(--red);
    margin-bottom: 20px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-col ul li a:hover {
    color: white;
}

.footer-col a {
    color: #ccc;
    text-decoration: none;
}

.footer-col a:hover {
    color: white;
}

.linha-bottom {
    margin-top: 40px;
    border: none;
    border-top: 1px solid #444;
}

.footer-bottom {
    text-align: center;
    color: #999;
    margin-top: 15px;
    font-size: 0.9em;
}

.redes a:hover {
    color: var(--red);
    transform: scale(0.95);
}

/*RESPONSIVIDADE*/

@media (max-width: 1024px) {

    nav ul {
        display: none;
        flex-direction: column;
        background-color: var(--primeira);
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        height: 100dvh;
        /*aqui vai 100dvh*/
        padding: 20px;
    }

    nav ul li {
        margin-bottom: 15px;
    }

    nav.active ul {
        display: flex;
    }


    .logo img {
        height: 90px;
    }

    .menu {
        display: block;
    }

    .mobile {
        color: red;
    }

    .conteudo h1{
        padding-top: 20px;
        font-size: 4em;
    }

    .hero .conteudo br {
        display: none;
    }

    .conteudo p {
        font-size: 1.1em;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }

    .botoes {
        display: block;
        width: 100%;
        max-width: 250px;
        margin: 10px auto;
    }

    .sobre-content {
        flex-direction: column;
        text-align: left;
    }

    .sobre-content .barbeiro {
        display: none;
    }

    .sobre-content .texto {
        text-align: left;
    }

    .carrosel {
        height: 350px;
    }

    .nome-servico h1 {
        font-size: 1.8em;
    }

    .flecha-esquerda,
    .flecha-direita {
        width: 40px;
        height: 40px;
        font-size: 12px;
    }

    .galeria-grid img[alt="Estilo 2"],
    .galeria-grid img[alt="Estilo 4"] {
        display: none;
    }

    .galeria-grid {
        grid-template-columns: 1fr;
        gap: 20px;
        justify-items: center;
    }

    .galeria-grid img {
        width: 100%;
        max-width: 150px;
        height: auto;
        object-fit: cover;
        margin: 0;
    }

    .menu-desktop {
        display: none;
        flex-direction: column;
        background-color: var(--primeira);
    }

    .menu-desktop.active {
        display: flex;
    }




}