@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --preta: #171616;
    --primeira: #1D1D1D;
    --segunda: #2E2C2B;
    --red: #DA3D35;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    background-color: var(--primeira);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: var(--primeira);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 10;
}

.logo img {
    height: 100px;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: gray;
}

/* Hero */

.hero {
    position: relative;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-image: url('img/hero_img.webp');
    background-size: cover;
    background-size: 100vw 150dvh;
    background-repeat: no-repeat;
    filter: blur(10px);
    opacity: 0.35;
    z-index: 1;
}

.conteudo {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.conteudo h1 {
    font-size: 5em;
    font-family: "Playfair Display", serif;
}

.conteudo p {
    color: rgb(175, 175, 175);
    font-size: 1.7em;
    letter-spacing: 3px;
}

.botoes {
    margin-top: 15px;
    padding: 10px 25px;
    font-size: 1.3em;
}

.btnagendar {
    background-color: var(--red);
    border-radius: 30px;
    transition: ease 0.25s;

}

.btnservicos {
    border: 1px solid white;
    border-radius: 30px;
    transition: ease 0.25s;
}

.btnagendar:hover {
    transform: scale(0.97);
}

.btnservicos:hover {
    transform: scale(0.97);
}

/*sobre*/

.sobre {
    background-image: linear-gradient(to top, #1D1D1D, #2E2C2B);
    color: white;
    padding: 80px 40px;
}

.sobre-content {
    display: flex;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.barbeiro img {
    max-width: 400px;
    border-radius: 40px;
    border: 2px solid rgb(201, 201, 201);
    transition: 0.7;
}

.barbeiro img:hover {
    transform: scale(0.995);
    cursor: pointer;
}

.texto {
    flex: 1;
    min-width: 300px;
}

.texto h1 {
    margin-bottom: 10px;
    margin-bottom: 15px;
    font-size: 3em;
    font-family: "Playfair Display", serif;
}

.linha {
    width: 120px;
    height: 3px;
    background-color: var(--red);
    margin-bottom: 30px;
}

.texto p {
    font-size: 1.1em;
    color: #ccc;
    line-height: 1.7em;
}

.qualidades {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    display: flex;
    align-items: center;
    gap: 15px;
    transition: 0.7s;
}

.item:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.item i {
    font-size: 28px;
    color: white;
    background-color: var(--red);
    padding: 13px 10px;
    border-radius: 20px;
}

.item strong {
    font-size: 1.1em;
    color: white;
}

.item p {
    margin: 0;
    color: #aaa;
}

/* 
SECTION SERVIÇOS
*/

.servicos {
    background-image: linear-gradient(to top, #2E2C2B, #1D1D1D);
    color: white;
}

.servicos-content {
    margin: auto;
    text-align: center;
}

.servicos-content h1 {
    margin-bottom: 15px;
    font-size: 3em;
    font-family: "Playfair Display", serif;
}

.linha-servicos {
    width: 120px;
    height: 3px;
    background-color: var(--red);
    margin: auto;
}

.servicos-content p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.3em;
    color: #ccc;
}

.carrosel {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: #111;
}

.carrosel-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.cortes {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('img/corte-barba.jpg');
    background-size: cover;
    background-position: center;
    opacity: 30%;
    z-index: 1;
}

.nome-servico {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-size: 25px;
    font-family: "Playfair Display", serif;
    letter-spacing: 12px;
}

.flecha-esquerda,
.flecha-direita {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.flecha-esquerda {
    left: 30px;
}

.flecha-direita {
    right: 30px;
}

.flecha-esquerda:hover,
.flecha-direita:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* 
SECTION GALERIA
*/

.galeria {
    background-image: linear-gradient(to top, #2E2C2B, #1D1D1D);
    color: white;
}

.galeria-content {
    margin: auto;
    text-align: center;
}

.galeria-content h1 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 3em;
    font-family: "Playfair Display", serif;
}

.linha-servicos {
    width: 120px;
    height: 3px;
    background-color: var(--red);
    margin: auto;
}

.galeria-content p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.3em;
    color: #ccc;
}

/*grid da galeria*/

.galeria-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

.galeria-grid img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.103);
    transition: transform 0.3s ease;
}

.galeria-grid img:hover {
  transform: scale(1.09);
  border-color: var(--red);
}
